.container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 64px;
}

.catalog {
  margin-top: 56px;
}

.catalog .container {
  grid-template-columns: repeat(5, 1fr);
  margin-left: 0;
  flex-wrap: wrap;
}

.movie_wrapper {
  height: 433px;
}

.movie_banner {
  height: 357px;
  width: 100%;
  object-fit: cover;
}
