.movie_wrapper {
  height: 433px;
  cursor: pointer;
}

.movie_banner {
  height: 357px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 24px;
}

.sub_1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

/* .movie_title {
  cursor: pointer;
} */
