.container {
  display: grid;
  gap: 40px;
  grid-template-columns: 266px repeat(5, 1fr);
  margin: 0 64px;
  /* grid-template-rows: repeat(2, 100px auto 20%); */
}

header .container {
  align-items: center;
  margin-top: 40px;
}

.header_logo {
  margin: auto 0;
  grid-column: 1/2;
}

input {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
}

.search {
  grid-column: 2/6;
  position: relative;
}

.search_bar {
  width: 100%;
  height: 56px;
  background-color: #323537;
  border: 0;
  border-radius: 10px;
  padding: 16px 20px;
}

.search_filter {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 16px;
}

.user_bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 266px;
  grid-column: 6;
  position: relative;
}

.user_avatar {
  width: 56px;
  height: 56px;
}
.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.arrow_down {
  position: absolute;
  right: 0;
}
