.desc .container {
  grid-template-columns: repeat(5, 1fr);
  margin-left: 0;
  margin-top: 56px;
  flex-wrap: wrap;
}

.container {
  display: grid;
  gap: 40px;
  margin: 0 64px;
}

.banner {
  /* width: 266px;
  height: 356px; */
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.desc_title {
  margin-bottom: 40px;
}

.desc_text {
  grid-column: 2/5;
}

.desc_info {
  display: flex;
}

.desc_info_name {
  width: 150px;
}

.desc_info_value {
  width: calc(100% - 150px);
}
