* {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: #ffffff;
}
body {
  background-color: #000000;
}
h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 16px;
}
