.container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 64px;
  /* grid-template-rows: repeat(2, 100px auto 20%); */
}

.navigation {
  display: grid;
  grid-column: 1;
  margin-top: 56px;
}

.navigation .container {
  grid-column: 1;
  display: block;
  width: 306px;
  margin-right: 0;
  /* position: fixed; */
}

.navigation li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.navigation li a {
  font-size: 18px;
  font-weight: 600;
  color: #80858b;
  /* top: 50%;
  transform: translate(0, -50%); */
}
